
<div class="img" >
  <img src="../../assets/img/signup.png" alt="" width="100%">
</div>

<ion-content>

<form action="">
<div id="container" style="margin-bottom: 20px;">


  <div class="form-controle">
    <div>
      <label>Nom</label>
      <input  type="text" placeholder="Ex. Keita " >
    </div>

    <div>
      <label>Prenom</label>
      <input  type="text" placeholder="Ex. Lanciné" >
    </div>

    <div>
      <label>Telephone</label>
      <input  type="text" placeholder="98 91 89 96" >
    </div>

    <div>
      <label>Domaine/Filière</label>
      <input  type="text" placeholder="Sante/Fondamental" >
    </div>

    <div>
      <label>Niveau/Classe</label>
      <input  type="text" placeholder="Licence 1 / Generaliste" >
    </div>

    <div>
      <label>Mot de passe</label>
      <input type="password" placeholder="******************">
    </div>
    <div>
      <label>Répeter Mot de passe</label>
      <input type="password" placeholder="******************">
    </div>
    <a id="a" style="color: #fff !important;">
      S' inscrire
    </a>

    <p >Déjà un compte,<a routerLink="../loginEtudiant" style="color: #725787 !important; border-radius: 5px; ">Se connecter</a></p>
  </div>
</div>
</form>

</ion-content>
