


#container strong {
  text-align: center;
  font-size: 20px;
  line-height: 26px;
}
label {
  margin-left: 5px;
  font-weight: bold;
}
#container p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #8c8c8c;

  margin: 0;
}

#container #a {
  text-decoration: none;
}
.form-controle{
  display: grid;
  gap: 15px;
  margin: 0 30px 0 30px;
}
input, #a {
  padding: 12px 0 12px 0;
  border-radius: 15px;
  width: 100%;
  border: none !important;

  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 5px 5px 5px 0px rgba(69, 68, 68, 0.5),
   10px 10px 30px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  // outline: none;
}
#a{
  background-color: #725787; color: white; font-weight: bold;
  padding: 12px 0 12px 0;
  border-radius: 15px;
  text-align: center;
  text-decoration: none !important;
}
.gtext{
  display: grid;
  justify-content: center !important;
  align-items: center;
  // padding-left: 20% !important;
  // padding-right: 20% !important;
  padding: 12px 0 12px 0;
  border-radius: 15px;
  border: #725787 1px solid;
  width: 100% !important;
  box-sizing: border-box;
}
.form-controle div{
  display: grid;
}



.dv{
  margin-top: 20px;
}
input::placeholder{
  padding-left: 20px ;
}
input:focus{
  color: #725787;
  font-weight: bold;
  padding-right: 30px ;
}
.bottom{
  width: 100%;
  box-sizing: border-box;
  // margin-left: 10px;
  // margin-right: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.principe{
  display: grid;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;
}

ion-content{
  ion-list{
    background: transparent;
  }
}

.user {
  &::after {
  content: "";
  position: absolute;
  border: 0 solid transparent;

  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  // border-bottom: 9px solid #DCF8C6;
  border-bottom: 9px solid var(-ion-color-primary);
  border-radius: 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(50deg);
  bottom: 0px;
  right: 0px;
  }
  ion-label {


  margin-left: 8px;
  margin-right: 8px;
  background-color: rgb(239, 238, 238);
  border-radius: 200px  200px  200px -0px;
  color: black;
    ion-text{
    &:after {
    width: 72px !important;
    }
  }
    ion-note {
    small {
    margin-right: 2px;
    line-height: 16px;
    color: var(-ion-color-dark);
    }
  }
    }
}

.sender {
  &::after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 0px;
  border-top: 9px solid var(-ion-color-light);
  border-radius: 0 20px 0;
  width: 15px;
  height: 30px;
  transform: rotate(112deg);
  bottom: -4px;
  left: -4px;
  }
  ion-label {
  margin-left: 8px;
  margin-right: 8px;
  background-color: rgb(253, 253, 233);
  border-radius: 200px  200px  -0px 200px;
  color: black;
  ion-text{
  &:after {
  width: 72px !important;
  }
}
  ion-note {
  small {
  margin-left: 2px;
  line-height: 16px;
  color: var(-ion-color-dark);
  }
}
  }
}

/* --Input file custom---*/

ion-content{
  ion-list{
    background: transparent !important;
  }
}

ion-footer{

  ion-toolbar{
    padding: 0 3px;
    ion-textarea{
      border: 1px solid var(--ion-color-medium);
      border-radius: 20px;
      margin: 0.5vh 0;
    }
  }
}
ion-item{
  --background: transparent ;
  --padding-end: 0px ;
  --padding-start: 8px;
  --ion-safe-area-left: 0px;
  --min-height: 32px;
  --border-width: 0;
  ion-label{
    position: relative;
    border-radius: 12px;
    padding: 4px 8px;
    margin-top: 12px;
    max-width: 70% !important;
    ion-text{
      font-weight: 400;
      font-size: 0.9rem;
      &:after{
        content: '';
        width: 50px !important;
        height: 12px !important;
        display: inline-block;
        vertical-align: top;
        visibility: hidden;
        font-size: 0.75rem;

      }
    }
    ion-note{
      position: absolute;
      display: flex;
      right: 0;
      bottom: 0;
      padding: 4px 8px 4px 4px;
      line-height: 16px;
      pointer-events: auto;
      color: var(--ion-color-medium );
    }
  }
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
