<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #725787;"> Accueil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="marge">
      <h2 style="text-align: center; margin-top: 45px;"> Bienvenu à EduUnity </h2>
    <div class="img">
      <img src="../../../assets/img/hom2.png" alt="logo" width="100%">
    </div>
    <div class="text"><h4><span style="color: #725787; font-weight: bold;">EduUnity </span> offre aux enseignants une plateforme dynamique pour partager leur expertise,
      créer du contenu éducatif innovant et inspirer la prochaine génération .</h4></div>

    <ion-button shape="round"  [routerLink]="['/programmeenseignant']">
      <strong>Voir vos catalogues</strong>
      <ion-icon name="arrow-forward-circle" style="margin-left: 10px; font-size: 30px;" ></ion-icon>

    </ion-button>
    </div>
  </div>
</ion-content>
