<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>mesforum</ion-title> -->
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: #725787;"> Mes forum </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mesforum</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
