<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>mesdevoirsenseignant</ion-title> -->
    <ion-buttons slot="start">
      <ion-icon size="large" name="arrow-undo-outline" style="color: #725787;" [routerLink]="['/programmeenseignant']"></ion-icon>
    </ion-buttons>
    <ion-title style="color: #725787;"> Mes Forum </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main">
    <h2 style="text-align: center;"> Les forum</h2>

    <ion-button shape="round" routerLink="deuxieme" (click)="OpenDialogAdd('600ms', '600ms')">
      <ion-icon name="add-circle" style="margin-right: 10px;"></ion-icon>
      Ajouter
    </ion-button>

    <div class="listuser animate__animated animate__fadeInUp">
      <ion-card color="light" *ngFor="let element of listForum">
        <ion-card-header>
          <ion-card-subtitle>{{element.titre}}</ion-card-subtitle>
        </ion-card-header>
        <h2 style="margin-left: 10px;"> {{ element.dateForum | date:'dd/MM/yyyy' }}</h2>
        <div class="iconitem">
          <ion-button [routerLink]="['/discuterforumenseignant', element.idForum]" fill="outline" size="large" color="primary"  style="color: #ffffff"><ion-icon name="chatbubble-ellipses-outline" ></ion-icon> </ion-button>
          <ion-button fill="outline" size="large" color="primary" (click)="openEditForm(element, '600ms', '600ms')"  style="color: #ffffff"><ion-icon slot="end" name="create"></ion-icon> </ion-button>
          <ion-button color="danger" size="large" fill="outline"   (click)="presentAlert(element)" style="color: #ffffff"><ion-icon name="trash" ></ion-icon></ion-button>
        </div>
      </ion-card>
  </div>

  <div *ngIf=" !listForum " style="text-align: center; margin: 20px;">
    <h2>Vous n'avez pas encore creer aucun forum !</h2>
    <h2>Merci de créer des forum pour discuter avec vos elèves!</h2>

  </div>

  </div>
</ion-content>
