<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title>programmeenseignant</ion-title> -->
    <ion-buttons slot="start">
      <ion-icon size="large" name="arrow-undo-outline" style="color: #725787;" [routerLink]="['/mesenseignant']"></ion-icon>
    </ion-buttons>
    <ion-title style="color: #725787;"> Programme </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">programmeenseignant</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="elem">
    <div>
      <div class="card animate__animated animate__fadeInUp ">

        <a  [routerLink]="['/list-cours', idEnseignant]" style="text-decoration: none;">
        <ion-card style="border-radius: 25px;">
          <div class="logoimg"><img alt="Silhouette of mountains" src="../../../assets/img/cours.png" width="100px" height="80px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Cours</ion-card-title>
          </ion-card-header>
        </ion-card>
      </a>
        <!---->
        <a [routerLink]="['/list-video', idEnseignant]"  style="text-decoration: none;">
        <ion-card style="border-radius: 25px;">
          <div class="logoimg"><img alt="Silhouette of mountains" src="../../../assets/img/videos.png" width="100px" height="80px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center; font-weight: bold; color: #005B2F;">Videos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </a>
        <!---->
        <!---->
        <a routerLink="/mesquiz" style="text-decoration: none;">
        <ion-card style="border-radius: 25px;">
          <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../../assets/img/quiz.png" width="100px" height="80px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;">Quiz</ion-card-title>
          </ion-card-header>
        </ion-card>
      </a>
        <!---->
        <!---->
        <a routerLink="/mesforum" style="text-decoration: none;">
        <ion-card style="border-radius: 25px; " id="card">
          <div class="logoimg"><img style="margin-top: 1rem;" alt="Silhouette of mountains" src="../../../assets/img/forum.png" width="100px" height="80px" /></div>
          <ion-card-header>
            <ion-card-title style="font-size: 20px; text-align: center ; font-weight: bold; color: #005B2F;" >Forum</ion-card-title>
          </ion-card-header>
        </ion-card>
        </a>
        <!---->


      </div>
      <!---->

  </div>
</div>

</ion-content>
