<!--

<ion-app>
  <ion-menu>
<div id="sidebar">

<figure><img alt="person" src="../../../assets/img/user.png" style="border-radius: 50%;" width="100px" height="100px" />
  <figcaption><strong style="color: #ffffff;"> <marquee behavior="" direction="left">Adama Keita</marquee> </strong></figcaption>
</figure>

<div class="main">
        <div class="inside">
          <div routerLink="/tache" >
            <ion-icon name="person-circle-outline"></ion-icon>
            Profile
          </div>


          <div>
            <ion-icon name="library-sharp"></ion-icon>
            Mon bulletin
          </div>
          <div>
            <ion-icon name="school-sharp" ></ion-icon>
            Enseignant
          </div>

          <div>
            <ion-icon name="dice-sharp"></ion-icon>
            Mes devoirs
          </div>
          <div>
            <ion-icon name="newspaper-sharp"></ion-icon>
            Tâche
          </div>
          <div style="margin-top: 40px;">
            <ion-icon name="close-circle-sharp" color="bright"></ion-icon>
          </div>
        </div>
        <figure style="margin-top: 100%;"><img alt="person" src="../../../assets/img/logo.png" width="100%" />

        </figure>
        </div>

  </div>
  </ion-menu>
  <div >
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
        </ion-buttons>
<ion-title>menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" [fullscreen]="true" >



     </ion-content>
  </div>

</ion-app>
 -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="marge">
      <h2 style="text-align: center; margin-top: 45px;"> Bienvenu à EduUnity </h2>
    <div class="img">
      <img src="../../assets/img/home.jpg" alt="logo" width="100%">
    </div>
    <h4><span style="color: #725787; font-weight: bold;">EduUnity</span> est une plateforme
      révolutionnaire qui ouvre les
      portes de l'apprentissage de
      qualité à tous, où que vous soyez.</h4>

    <ion-button shape="round"  [routerLink]="['/mesenseignant']">
      <strong>Voir les enseignants</strong>
      <ion-icon name="arrow-forward-circle" style="margin-left: 10px; font-size: 30px;" ></ion-icon>

    </ion-button>
    </div>
  </div>
</ion-content>
