

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div class="marge">
      <h2 style="text-align: center; margin-top: 45px;"> Bienvenu à EduUnity </h2>
    <div class="img">
      <img src="../../assets/img/home.jpg" alt="logo" width="100%">
    </div>
    <h4><span style="color: #725787; font-weight: bold;">EduUnity</span> est une plateforme
      révolutionnaire qui ouvre les
      portes de l'apprentissage de
      qualité à tous, où que vous soyez.</h4>

    <ion-button shape="round"  [routerLink]="['/mesenseignant']">
      <strong>Voir vos enseignants</strong>
      <ion-icon name="arrow-forward-circle" style="margin-left: 10px; font-size: 30px;" ></ion-icon>

    </ion-button>
    </div>
  </div>
</ion-content>
