
 <ion-app  >
  <ion-split-pane contentId="main-content"  >
    <ion-menu contentId="main-content" type="overlay">
      <ion-content  >

        <div id="sidebar" *ngIf=" etudiant " >

          <div class="main2">
            <div class="round" style=" margin-top: 15px; background: #ffffff; border-radius: 50%;" width="100px" height="100px" >
              <h1> <strong style=" color: #725787">{{etudiant.prenom.charAt(0)}} {{etudiant.nom.charAt(0)}}</strong> </h1>
            </div>

            <strong style="color: #ffffff; text-align: center; margin-top: 15px; "> <marquee behavior="" direction="left">{{etudiant.prenom}} {{etudiant.nom}}</marquee> </strong>
          </div>

          <div class="main">
                  <div class="inside">
                    <ion-menu-toggle>
                      <div routerLinkActive="active" [routerLink]="['/profile']" >
                        <ion-icon name="person-circle-outline"></ion-icon>
                        Profile
                      </div>
                    </ion-menu-toggle>

<ion-menu-toggle>

  <div routerLinkActive="active" [routerLink]="['/monbilletin']" >
    <ion-icon name="library-sharp"></ion-icon>
    Mon bulletin
  </div>
</ion-menu-toggle>
                    <ion-menu-toggle>
                      <div routerLinkActive="active" [routerLink]="['/mesenseignant']">
                        <ion-icon name="school-sharp" ></ion-icon>
                        Enseignant
                      </div>
                    </ion-menu-toggle>

                    <ion-menu-toggle>
                      <div routerLinkActive="active" [routerLink]="['/mesdevoirs']">
                        <ion-icon name="dice-sharp"></ion-icon>
                        Mes devoirs
                      </div>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                    <div routerLinkActive="active" [routerLink]="['/tache']" >
                        <ion-icon name="newspaper-sharp"></ion-icon>
                        Tâche
                      </div>
                    </ion-menu-toggle>
                    <ion-menu-toggle>
                      <div style="margin-top: 40px;">
                         <!-- <button id="aaa" (click)="deconnexionEtudiant()"> <ion-icon name="close-circle-sharp" color="bright"></ion-icon> Deconnexion</button> -->
                         <ion-button color="blank"  (click)="deconnexionEtudiant()">
                          <ion-icon size="large" slot="start" name="close-circle-outline" color="danger"></ion-icon>
                          Deconnexion
                        </ion-button>
                      </div>
                    </ion-menu-toggle>
                  </div>
                  <figure class=" animate__animated animate__fadeInBottomLeft" style="margin-top: 100%;"><img alt="person" src="../../../assets/img/latest.png" width="100%" />
                    <figcaption style="color: #ffffff;">
                      Conctat/Mali <br>
                      91-78-05-07
                    </figcaption>
                  </figure>
                  </div>

            </div>



            <div id="sidebar" *ngIf="enseignant">
              <!-- <div id="sidebar" > -->


                <div class="main2">
                  <div class="round" style=" margin-top: 15px; background: #ffffff; border-radius: 50%;" width="100px" height="100px" >
                    <h1> <strong style=" color: #725787">{{enseignant.prenom.charAt(0)}} {{enseignant.nom.charAt(0)}}</strong> </h1>
                  </div>

                  <strong style="color: #ffffff; text-align: center; margin-top: 15px; "> <marquee behavior="" direction="left">{{enseignant.prenom}} {{enseignant.nom}}</marquee> </strong>
                </div>



              <div class="main">
                      <div class="inside">
                        <ion-menu-toggle>
                          <div routerLinkActive="active" [routerLink]="['/profileenseignant']" >
                            <ion-icon name="person-circle-outline"></ion-icon>
                            Profile
                          </div>
                        </ion-menu-toggle>

    <ion-menu-toggle>

      <div routerLinkActive="active" [routerLink]="['/apropos']" >
        <ion-icon name="library-sharp"></ion-icon>
        Apropos
      </div>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <div routerLinkActive="active"  [routerLink]="['/programmeenseignant']" >
          <ion-icon name="newspaper-sharp"></ion-icon>
          Programme
        </div>
      </ion-menu-toggle>
                        <ion-menu-toggle>
                          <div routerLinkActive="active" [routerLink]="['/meseleve']">
                            <ion-icon name="school-sharp" ></ion-icon>
                           Mes Etudiant
                          </div>
                        </ion-menu-toggle>

                        <ion-menu-toggle>
                          <div routerLinkActive="active" [routerLink]="['/mesdevoirsenseignant']">
                            <ion-icon name="create"></ion-icon>
                            Mes devoirs
                          </div>
                        </ion-menu-toggle>

                        <ion-menu-toggle>
                          <div style="margin-top: 40px;"  >
                            <!-- <ion-icon name="close-circle-sharp" color="bright"></ion-icon> <ion-button (click)="deconnexionEnseig()">Deconnexion</ion-button> -->
                            <ion-button color="blank" (click)="deconnexionEnseig()">
                              <!-- <ion-icon name="close-circle-outline"></ion-icon> -->
                              <ion-icon size="large" slot="start" name="close-circle-outline" color="danger"></ion-icon>
                              Deconnexion
                            </ion-button>
                          </div>
                        </ion-menu-toggle>
                      </div>
                      <figure class=" animate__animated animate__fadeInBottomLeft" style="margin-top: 80%;"><img alt="person" src="../../../assets/img/latest.png" width="100%" />
                        <figcaption style="color: #ffffff;">
                          Conctat/Mali <br>
                          91-78-05-07
                        </figcaption>
                      </figure>
                      </div>

                </div>


      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
