
ion-menu::part(backdrop) {
  // background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
  border-radius: 0 40px 40px 0;
  width: 45%;
  // box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  background-color: #725787;
  margin-top: 45px;
  background: #725787;
}
ion-content{
  --background: #725787;
}
.inner-scroll {
  border-radius: 0 40px 40px 0;
  width: 45%;
  // box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
  background-color: #725787;
  margin-top: 45px;
  background: #725787;
}

ul
 li
{
list-style: none;

}
#sidebar
{
  background: #725787;
}
.inside{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  line-height: 40px;
  color: #ffffff;
}
ion-icon{
color: #ffffff;
font-size: large;
margin-right: 10px;
}
ion-toolbar{
  --border-radius:  100px;
  --background: #ffffff;
  box-shadow: 2px 5px 18px rgba(62, 59, 62, 0.18);
  // box-shadow: 2px 2px 18px rgba(255, 0, 255, 0.18);
}
.inner-scroll{
  background-color: #725787;
}
