<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Mes Enseignants</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <p style="text-align: center;"> Mes Enseignants </p>
    <div class="card animate__animated animate__fadeInUp ">


      <!---->
      <!---->
      <ion-card style="border-radius: 25px; " id="card">
        <figure>
          <div class="logoimg"><img style="margin-top: 0.1rem; border-radius: 50%; " alt="Silhouette of mountains" src="../../../assets/img/user.png" width="100px" height="100px" /></div>
          <figcaption>
            <div>
              <h2>Abdoulaye Konate</h2>
              <h3> 9<sup>ème</sup> Anglais</h3>

            </div>
          </figcaption>

        </figure>

        <ion-card-header>
          <ion-card-title  style="color: #ffffff;" > <span style="color: #e8a60a;" [routerLink]="['/lesprogrammes']">Voir </span> <span> Abonner 200000f</span></ion-card-title>
        </ion-card-header>
      </ion-card>
      <!---->
       <!---->
       <ion-card style="border-radius: 25px; " id="card">
        <figure>
          <div class="logoimg"><img style="margin-top: 0.1rem; border-radius: 50%; " alt="Silhouette of mountains" src="../../../assets/img/user.png" width="100px" height="100px" /></div>
          <figcaption>
            <div>
              <h2>Abdoulaye Konate</h2>
              <h3> 9<sup>ème</sup> Anglais</h3>

            </div>
          </figcaption>

        </figure>

        <ion-card-header>
          <ion-card-title  style="color: #ffffff;" > <span style="color: #e8a60a;" [routerLink]="['/lesprogrammes']">Voir </span> <span> Abonner 200000f</span></ion-card-title>
        </ion-card-header>
      </ion-card>
      <!---->
       <!---->
       <ion-card style="border-radius: 25px; " id="card">
        <figure>
          <div class="logoimg"><img style="margin-top: 0.1rem; border-radius: 50%; " alt="Silhouette of mountains" src="../../../assets/img/user.png" width="100px" height="100px" /></div>
          <figcaption>
            <div>
              <h2>Abdoulaye Konate</h2>
              <h3> 9<sup>ème</sup> Anglais</h3>

            </div>
          </figcaption>

        </figure>

        <ion-card-header>
          <ion-card-title  style="color: #ffffff;" > <span style="color: #e8a60a;" [routerLink]="['/lesprogrammes']">Voir </span> <span> Abonner 200000f</span></ion-card-title>
        </ion-card-header>
      </ion-card>
      <!---->
       <!---->
       <ion-card style="border-radius: 25px; " id="card">
        <figure>
          <div class="logoimg"><img style="margin-top: 0.1rem; border-radius: 50%; " alt="Silhouette of mountains" src="../../../assets/img/user.png" width="100px" height="100px" /></div>
          <figcaption>
            <div>
              <h2>Abdoulaye Konate</h2>
              <h3> 9<sup>ème</sup> Anglais</h3>

            </div>
          </figcaption>

        </figure>

        <ion-card-header>
          <ion-card-title  style="color: #ffffff;" > <span style="color: #e8a60a;" [routerLink]="['/lesprogrammes']">Voir </span> <span> Abonner 200000f</span></ion-card-title>
        </ion-card-header>
      </ion-card>
      <!---->
       <!---->
       <ion-card style="border-radius: 25px; " id="card">
        <figure>
          <div class="logoimg"><img style="margin-top: 0.1rem; border-radius: 50%; " alt="Silhouette of mountains" src="../../../assets/img/user.png" width="100px" height="100px" /></div>
          <figcaption>
            <div>
              <h2>Abdoulaye Konate</h2>
              <h3> 9<sup>ème</sup> Anglais</h3>

            </div>
          </figcaption>

        </figure>

        <ion-card-header>
          <ion-card-title  style="color: #ffffff;" > <span style="color: #e8a60a;" [routerLink]="['/lesprogrammes']">Voir </span> <span> Abonner 200000f</span></ion-card-title>
        </ion-card-header>
      </ion-card>
      <!---->



    </div>
    <!---->

</div>

</ion-content>
