<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <!-- <p style="text-align: center;"> Mes Enseignants </p> -->
    <div *ngIf="abonnements && abonnements.length > 0" class="card animate__animated animate__fadeInUp ">

      <!---->
      <!---->
      <ion-card style="border-radius: 25px; " id="card" *ngFor="let abonnement of abonnements">
        <div class="row">
          <div class="logoimg">
            <h1 style="color: #ffffff ;">
              {{abonnement.enseignant.prenom.charAt(0)}} {{abonnement.enseignant.nom.charAt(0)}}
            </h1>
          </div>
        </div>

        <div>
          <h2>{{abonnement.enseignant.prenom}} {{abonnement.enseignant.nom}} </h2>
          <ion-icon (click)="openDetailEnsiegnant(abonnement.enseignant.idEnseignant, '600ms', '600ms')" size="large" style="color: #725787; font-size: 100%;" name="eye-outline"></ion-icon>
          <h3>Classe : {{abonnement.enseignant.classe.nom}} </h3>
          <h5 *ngIf=" abonnement.enseignant.apropos != null ">{{abonnement.enseignant.apropos.biographie}}</h5>
        </div>

        <ion-card-header>
          <!-- <ion-card-title style="color: #ffffff;"> -->
            <ion-button style="color: #ffffff; font-size: large; font-weight: bold; background: none; " (click)="onDocumentClick(abonnement.enseignant.idEnseignant)"> <ion-icon name="library-sharp" style=" font-size: 30px;"></ion-icon> Voir ses programmes</ion-button>
          <!-- </ion-card-title> -->
        </ion-card-header>
      </ion-card>

      <!---->
      <ion-card style="border-radius: 25px; " id="card">
       <img src="../../../assets/img/abonner.jpg" alt="" height="100vh" width="100vw">
        <h1 style="color: #725787; font-weight: bold; " [routerLink]="['/abonnementpage']">Abonner plus</h1>
      </ion-card>
      <!---->




    </div>



    <div *ngIf="!abonnements">
      <h2 style="text-align: center;"> Vous n' êtes pas abonner </h2>
      <p style="text-align: center;">Merci de vous abonner !</p>
      <img src="../../../assets/img/abonner.jpg" alt="" width="100%" height="100%">

      <ion-card style="border-radius: 25px; " id="card">
         <ion-card-header>
           <ion-card-title style="color: #ffffff;">
             <button style="color: #ffffff; font-size: large; font-weight: bold; background: none; " [routerLink]="['/abonnementpage']"><ion-icon name="wallet-outline"></ion-icon>Abonner</button>
           </ion-card-title>
         </ion-card-header>
       </ion-card>
    </div>
    <!---->

</div>

</ion-content>
