ion-toolbar{
  border-radius: 0 0 100px;
  background: #ffffff;
  box-shadow: 2px 5px 18px rgba(234, 229, 234, 0.18);
  // box-shadow: 2px 2px 18px rgba(255, 0, 255, 0.18);
}

ion-header{
  border-radius: 0 0 100px;
  background: #ffffff;
  box-shadow: 2px 5px 18px rgba(234, 229, 234, 0.18);

}

ion-content{
  --background: #725787;
  box-shadow: 2px 5px 18px rgba(62, 59, 62, 0.18);
  // box-shadow: 2px 2px 18px rgba(255, 0, 255, 0.18);
}
#container{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px;
}
ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #6815ec;
}

ion-item {
  --padding-start: 0;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}

ion-button{
  --background: #725787;
  --box-shadow: 2px 5px 18px #1a1818;


  // box-shadow: 2px 2px 18px rgba(255, 0, 255, 0.18);

}
