<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon style="color: #725787; font-size: 100%;" name="list"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestionnaire de tache</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card >
    <ion-button style="width: 80px; height: 80px; border-radius: 100% !important; margin-top: -30px !important; margin-left: -10px !important" (click)="OpenDialogAdd('600ms', '600ms')" > <ion-icon style="margin-top: 20px;" size="large" name="add-circle" color="light"></ion-icon> </ion-button>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor=" let todo of tache ">
          <ion-thumbnail slot="start">
            <ion-checkbox justify="space-between"></ion-checkbox>
          </ion-thumbnail>
         <div><p> <ion-label>{{ todo.description }}</ion-label></p>
            <p>{{ todo.datetache | date:'dd/MM/yyyy' }}</p>
        </div>
          <ion-thumbnail slot="end">
            <ion-button (click)="presentAlert(todo)" color="blank"><ion-icon name="trash" style="color: red;" size="large" > </ion-icon> </ion-button>
          </ion-thumbnail>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div id="container">



      <div *ngIf=" !tache ">
        <h3 style="color: #ffffff ">Ici c’est votre espace personne que vous pouvez gerer vos tâches </h3>
        <ion-img
  src="../../../assets/img/todolist.png"
  alt="photo bulletin"
></ion-img>
      </div>






  </div>


</ion-content>
