<ion-content [fullscreen]="true">
  <div class="main">
    <h2 style="text-align: center;"> Les cours</h2>

    <ion-button shape="round" routerLink="deuxieme" (click)="OpenDialogAdd('600ms', '600ms')">
      <ion-icon name="add-circle" style="margin-right: 10px;"></ion-icon>
      Ajouter
    </ion-button>

    <div class="listuser animate__animated animate__fadeInUp">
      <ion-card *ngFor="let element of listCours">
        <ion-card-content >
          <ion-list>
            <ion-item >
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="../../../assets/img/co.jpg" style="border-radius: 50%;" />
              </ion-thumbnail>
              <ion-label>{{element.titre}}</ion-label>
              <div class="iconitem">
                <ion-icon name="eye" (click)="openDocument(element.document)"></ion-icon>
                <ion-icon name="create-outline" style="color: #005B2F;" [routerLink]="['../modifierutilisateur']"></ion-icon>
                <ion-icon name="trash" style="color: red;" (click)="presentAlert(element)"></ion-icon>
              </div>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="round" [routerLink]="['/programmeenseignant']">
      <ion-icon name="arrow-back-outline" style="color: #ffffff;" size="large"></ion-icon>
    </div>
  </div>
</ion-content>
