




<form [formGroup]="etudiantForm" (ngSubmit)="onSubmit()" >
  <div id="container" style="margin-bottom: 20px;">

    <div class="form-controle">
      <div class="dv">

        <input  type="text" placeholder=" votre nom " formControlName="nom" required>
      </div>

      <div class="dv">
        <input  type="text" placeholder="votre prenom " formControlName="prenom" required>
      </div>

      <div class="dv">
        <input  type="number" placeholder="votre age " formControlName="age" required>
      </div>

      <div class="dv">

        <input  type="number" placeholder="votre numero de telephone " formControlName="telephone" required>
      </div>

      <div class="dv">
        <label>Mot de passe</label>

        <input  type="password" placeholder="votre mot de passe" formControlName="motDePasse" required>
      </div>




      <button type="submit" id="a" style="color: #fff !important;" [disabled]="!etudiantForm.valid"> Modifier
      </button>
      <button [mat-dialog-close]="true"  id="aa" style="color: #fff !important; background: gray !important;">
        Annuler
      </button>
    </div>
  </div>
  </form>

